name: Build library and demo app
permissions:
      contents: read
on:
  push:
    branches:
      - main
      - dev
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        configuration: [ Release ]
        arch: [ x64, x86, arm64 ]
        include:
          - arch: x64
            platform: x64
          - arch: x86
            platform: Win32
          - arch: arm64
            platform: ARM64

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: Build ${{ matrix.arch }}
        run: msbuild "darkmodelib.sln" /m /p:configuration="${{ matrix.configuration }}" /p:platform="${{ matrix.arch }}"

      - name: Archive artifact ${{ matrix.arch }}
        uses: actions/upload-artifact@v5
        with:
          name: dmlib-demo-${{ matrix.arch }}
          path: build\demo\${{ matrix.platform }}-${{ matrix.configuration }}\dmlib-demo.exe

      - name: Archive artifact ${{ matrix.arch }} DLL
        uses: actions/upload-artifact@v5
        with:
          name: dmlib-demo-DLL-${{ matrix.arch }}
          path: |
            build\dll\${{ matrix.platform }}-${{ matrix.configuration }}\dmlib-demo-DLL.exe
            build\dll\${{ matrix.platform }}-${{ matrix.configuration }}\darkmode.dll
